* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    color: #fff;
    font-size: 50px;
    font-family: Verdana;
}

a {
    color: aquamarine;
    font-size: 16px;
}